* {
	margin: 0;
	padding: 0;
} /* to remove the top and left whitespace */

svg {
	display: block;
} /* To remove the scrollbars */

aside {
	position: absolute;
	color: black;
	text-align: right;
	line-height: 200%;
	bottom: 0;
	right: 0;
	padding: 20px 20px;
	background: rgba(255,255,255,0.8);
}

button {
    position: relative;
    background-color: #4CAF50;
    border: none;
    color: #FFFFFF;
    padding: 10px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}